TENCENT_COS_BUCKET=chronobrewery-photo-1419349000
TENCENT_COS_REGION=ap-guangzhou
TENCENT_SECRET_ID=
TENCENT_SECRET_KEY=
WATERMARK_IMAGE_KEY=watermark/logo.png
ADMIN_USERNAME=
ADMIN_PASSWORD=
SESSION_SECRET=
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_ACTIVITY_SLUG=default
